.tag-infos{
	width: 100%;
	margin: 10rpx auto;
	background-color: #ffffff;
	padding: 10rpx 20rpx;
	.u-divider{
		margin: 10rpx auto!important;
	}
	.tag-info{
		display: inline-block;
		height: 100rpx;
		vertical-align: middle;
		
	}
	.tag-info-left{
		
	}
	.tag-info-right{
		padding: 10rpx 20rpx;
	}
}


.tag-posts{
	height: auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15rpx;
	background-color: #ffffff;
	.tag-post{
		width: 32%;
		display: inline-block;
		max-height: 380rpx;
		margin-bottom: 15rpx;
		overflow: hidden;
		border-radius: 15rpx;
	}
}

.bg-white{
	padding: 100rpx 0rpx;
}